#reserve-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  box-sizing: border-box;
}

div h1 {
  margin: 0;
  padding: 0;
}

.info-box-1 {
  display: flex;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0000001), var(--black)),
    url('./assets/images/cerro-pajarito11-@3x.png');
  background-size: cover;
  background-position: bottom;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.wonder-travel-logo {
  width: 240px;
  height: 80px;
  margin-top: 160px;
  margin-bottom: 60px;
}

.wonder-travel-title {
  font-family: 'Abril Fatface';
  font-size: var(--size-8);
  text-align: center;
}

.dayBox {
  width: 255px;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--white);
  border-radius: 4px;
  margin: 15px;
}

.locationIcon {
  width: 25px;
}
.dayBox-text {
  font-size: var(--size-6);
}
.location {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.location-map {
  width: 44px;
}
.location-text {
  font-size: var(--size-4);
}

.info-box-2 {
  width: 100%;
  height: 60vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 4px 4px;
}

.text-description-1 {
  margin: 0;
  width: 50vw;
  font-family: 'nova-regular';
  font-size: var(--size-4);
  text-align: center;
}
.description {
  display: flex;
}

.reserve-info-box {
  width: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.lbl-whatsapp {
  font-family: 'nova-regular';
  font-size: var(--size-4);
  text-align: center;
}

.info-button {
  border: none;
  width: 255px;
  height: 55px;
  border-radius: 10px;
  background: linear-gradient(to bottom, var(--orange-4), var(--orange-5));
  box-shadow: 0 0 40px 5px var(--orange-6);
  color: var(--white);
  font-size: var(--size-6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.WhatsAppIcon {
  width: 36px;
  height: 36px;
}
.arrow-down {
  margin-top: 20px;
}

.hr-divider {
  width: 50%;
}

#Schedule {
  background-color: var(--white-2);
  color: var(--black);
  padding-top: 30px;
  box-sizing: border-box;
}

.schedule--title {
  text-align: center;
  font-family: 'nova-bold', sans-serif;
  font-size: var(--size-5);
}

.schedule--steps {
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.schedule--steps--container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.schedule--steps--img {
  width: 40px;
}

.schedule--steps--img-wonder-icon {
  width: 155px;
}

.schedule--steps--container-hr-left {
  width: 30px;
  height: 1px;
  background-color: var(--black);
  margin-right: -20px;
}

.schedule--steps--container-hr-left::before {
  content: '';
  background-color: var(--black);
  margin-right: 20px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.schedule--steps--container-hr-right {
  width: 30px;
  height: 1px;
  background-color: var(--black);
  margin-left: -20px;
}

.schedule--steps--container-hr-right::after {
  content: '';
  background-color: var(--black);
  margin-left: 20px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.schedule-steps--container--icon {
  margin-left: -10px;
}

.schedule--details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}

.schedule--details--img-top {
  width: 50px;
  height: 40px;
}

.schedule--details--title-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
}

.schedule--details--title-h1 {
  font-family: 'nova-bold', sans-serif;
  font-size: var(--size-7);
}

.schedule--details--title-p {
  font-family: 'nova-regular', sans-serif;
  font-size: var(--size-3);
}

.schedule--details--title-img {
  width: 15px;
  margin-left: 5px;
}
